@font-face {
    font-family: 'Solid Antique Roman';
    src: url('./fonts/Solid Antique Roman.woff') format('woff');
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    box-sizing: border-box;
    min-height: 100vh;
    justify-content: space-between;
    background-color: #f2c16d;
}

h1 {
    font-family: 'Solid Antique Roman', serif;
    font-size: 4rem; 
    margin: 2.5rem 0 0 0;
    padding: 0;
    background: #f2c16d;
    width: 100vw;
    text-align: center;
    color: #791e10;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    background-color: #f2c16d;
}

img {   
    margin: 0;
    max-height: 50vh;
    border-radius: 10px;
}

.paragraph-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #f2c16d;
    width: 100vw;
    text-align: center;
    align-self: center;
}

p {
    font-size: 1.75rem;
    width: 80%;
    margin: 0;
    font-family: 'Signika', sans-serif;
    font-weight: 300;
}

button {
    font-family: 'Signika', sans-serif;
    padding: .75rem 4rem;
    border-radius: 3px;
    font-size: 1rem;
    font-weight: 300;
    color: #f2c16d;
    cursor: pointer;
    background-color: #000;

    border: none;
}

.button-container {
    align-self: center;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Solid Antique Roman', serif;
    padding: 1rem 0;
    font-weight: 300;
    font-size: 1.5rem;
    background: #791e10;
    color: #f2c16d;
}

footer a {
    margin: 0 .5rem;
     color: #f2c16d;
     text-decoration: none;
}

footer img {
    margin: 3px 1px;
    width: 25px;
}

footer img:hover {
    transform: scale(1.2);
}